<div class="field has-addons search-container">
  <div class="control inputContainer">
    <input class="input" #textbox type="text" (keyup.enter)="searchOnEnter(textbox.value)" [(ngModel)]="inputValue" placeholder="Search Beer here">
  </div>
  <div class="control searchBtnContainer">
    <a class="button is-info" (click)="searchBeer(textbox.value)">
      Search
    </a>
    <a *ngIf="isClearResultVisible" (click)="clearBeer(textbox.value)" class="clearResult">Clear Search</a>
  </div>
</div>
<div class="beer-card-container">
  <div class="card beer-card" *ngFor="let beer of beerData">
    <!-- <div class="img-container">
      <img src="{{beer.image_url}}" alt="{{beer.name}}">
    </div> -->
    <div class="fav-icon"><span title="Mark as favourite" id="{{beer.id}}" (click)="markFavourite($event)">Mark as Favourite</span></div>
    <div class="media media-container">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="{{beer.image_url}}" alt="{{beer.name}}">
        </figure>
      </div>
    </div>
    <div class="beerDetails">
      <p class="beerName">
        {{beer.name}}
      </p>
      <p class="multiline-ellipsis" title="{{beer.description}}">
        {{beer.description}}
      </p>
    </div>
  </div>
</div>
